header 
{
    list-style-type: none;
 background-color: rgb(179, 180, 201);
 box-shadow: 5px 10px 10px rgba(68, 75, 4, 0.377);
    width: 300px;
    margin-left:50px;
margin-top: 100px;
   padding: 50px;
   border: 3px solid black ;
   display: inline-block;
    color: rgb(240, 81, 8);
    border-radius: 20px;
}
header  li {
    display: inline;
    text-align: center;
  

}
 
h1
{color: rgb(31, 31, 5);

    font-style: oblique;
    font-family:Rockwell Condensed;
    text-shadow: 1px 1px  rgb(141, 132, 132); 
}


body

{background-image: url("../img/back3.jpg");
font-family:Rockwell Condensed;
    background-size:cover ;
font-size: large ;
text-align: center;
text-shadow: 1px 1px  rgb(194, 179, 179);  }


.box img
{  box-shadow: 4px 4px 20px rgb(85, 16, 16) ;
     padding: 2%;
float:top;
width: 50%;
border-radius: 80px;
}